<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="invent_acl" xsi:type="object">Wesleywmd\Invent\Console\Command\InventAclCommand</item>
                <item name="invent_block" xsi:type="object">Wesleywmd\Invent\Console\Command\InventBlockCommand</item>
                <item name="invent_command" xsi:type="object">Wesleywmd\Invent\Console\Command\InventCommandCommand</item>
                <item name="invent_config" xsi:type="object">Wesleywmd\Invent\Console\Command\InventConfigCommand</item>
                <item name="invent_controller" xsi:type="object">Wesleywmd\Invent\Console\Command\InventControllerCommand</item>
                <item name="invent_cron" xsi:type="object">Wesleywmd\Invent\Console\Command\InventCronCommand</item>
                <item name="invent_logger" xsi:type="object">Wesleywmd\Invent\Console\Command\InventLoggerCommand</item>
                <item name="invent_menu" xsi:type="object">Wesleywmd\Invent\Console\Command\InventMenuCommand</item>
                <item name="invent_model" xsi:type="object">Wesleywmd\Invent\Console\Command\InventModelCommand</item>
                <item name="invent_module" xsi:type="object">Wesleywmd\Invent\Console\Command\InventModuleCommand</item>
                <item name="invent_preference" xsi:type="object">Wesleywmd\Invent\Console\Command\InventPreferenceCommand</item>
                <!--<item name="invent_admin_crud" xsi:type="object">Wesleywmd\Invent\Console\Command\InventAdminCrudCommand</item>-->
            </argument>
        </arguments>
    </type>

    <virtualType name="aclComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Acl\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventAclCommand">
        <arguments>
            <argument name="component" xsi:type="object">aclComponent</argument>
        </arguments>
    </type>

    <virtualType name="Wesleywmd\Invent\Model\Block\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Block\PhpRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Console\Command\InventBlockCommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:block</argument>
            <argument name="description" xsi:type="string">Create Block</argument>
            <argument name="successMessage" xsi:type="string">Block Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="blockName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Block Name</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Console\Command\InventBlockCommand" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Console\Command\InventBlockCommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Block\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Block\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Block\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Command\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Command\PhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Command\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Console\Command\InventCommandCommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:command</argument>
            <argument name="description" xsi:type="string">Create Console Command</argument>
            <argument name="successMessage" xsi:type="string">Console Command Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="commandName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Command Name</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Console\Command\InventCommandCommand" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Console\Command\InventCommandCommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Command\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Command\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Command\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="configComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Config\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventConfigCommand">
        <arguments>
            <argument name="component" xsi:type="object">configComponent</argument>
            <argument name="acl" xsi:type="object">aclComponent</argument>
        </arguments>
    </type>

    <virtualType name="Wesleywmd\Invent\Model\Controller\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Controller\PhpRenderer</item>
                <item name="xmlenderer" xsi:type="object">Wesleywmd\Invent\Model\Controller\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Console\Command\InventControllerCommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:controller</argument>
            <argument name="description" xsi:type="string">Create Controller</argument>
            <argument name="successMessage" xsi:type="string">Controller Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="controllerUrl" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Controller Url</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="router" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Router to subscribe the controller to</item>
                    <item name="default" xsi:type="string">standard</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Console\Command\InventControllerCommand" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Console\Command\InventControllerCommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Controller\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Controller\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Controller\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="cronComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Cron\PhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Cron\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventCronCommand">
        <arguments>
            <argument name="component" xsi:type="object">cronComponent</argument>
        </arguments>
    </type>

    <virtualType name="loggerComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Logger\PhpRenderer</item>
                <item name="handlerRenderer" xsi:type="object">Wesleywmd\Invent\Model\Logger\HandlerPhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Logger\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventLoggerCommand">
        <arguments>
            <argument name="component" xsi:type="object">loggerComponent</argument>
        </arguments>
    </type>

    <virtualType name="menuComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Menu\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventMenuCommand">
        <arguments>
            <argument name="component" xsi:type="object">menuComponent</argument>
            <argument name="acl" xsi:type="object">aclComponent</argument>
        </arguments>
    </type>

    <virtualType name="modelComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\PhpRenderer</item>
                <item name="collectionRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\CollectionPhpRenderer</item>
                <item name="interfaceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\InterfacePhpRenderer</item>
                <item name="repositoryInterfaceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\RepositoryInterfacePhpRenderer</item>
                <item name="repositoryRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\RepositoryPhpRenderer</item>
                <item name="resourceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\ResourcePhpRenderer</item>
                <item name="searchResultsInterfaceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\SearchResultsInterfacePhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventModelCommand">
        <arguments>
            <argument name="component" xsi:type="object">modelComponent</argument>
            <argument name="preference" xsi:type="object">preferenceComponent</argument>
        </arguments>
    </type>

    <virtualType name="moduleComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Module\PhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Module\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventModuleCommand">
        <arguments>
            <argument name="component" xsi:type="object">moduleComponent</argument>
            <argument name="block" xsi:type="object">Wesleywmd\Invent\Model\Block\Component</argument>
            <argument name="controller" xsi:type="object">Wesleywmd\Invent\Model\Controller\Component</argument>
            <argument name="command" xsi:type="object">Wesleywmd\Invent\Model\Command\Component</argument>
            <argument name="cron" xsi:type="object">cronComponent</argument>
            <argument name="model" xsi:type="object">modelComponent</argument>
        </arguments>
    </type>

    <virtualType name="preferenceComponent" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Preference\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Console\Command\InventPreferenceCommand">
        <arguments>
            <argument name="component" xsi:type="object">preferenceComponent</argument>
        </arguments>
    </type>
</config>