<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="invent_acl" xsi:type="object">Wesleywmd\Invent\Model\Acl\Command</item>
                <item name="invent_block" xsi:type="object">Wesleywmd\Invent\Model\Block\Command</item>
                <item name="invent_command" xsi:type="object">Wesleywmd\Invent\Model\Command\Command</item>
                <item name="invent_config" xsi:type="object">Wesleywmd\Invent\Model\Config\Command</item>
                <item name="invent_controller" xsi:type="object">Wesleywmd\Invent\Model\Controller\Command</item>
                <item name="invent_cron" xsi:type="object">Wesleywmd\Invent\Model\Cron\Command</item>
                <item name="invent_logger" xsi:type="object">Wesleywmd\Invent\Model\Logger\Command</item>
                <item name="invent_menu" xsi:type="object">Wesleywmd\Invent\Model\Menu\Command</item>
                <item name="invent_model" xsi:type="object">Wesleywmd\Invent\Model\Model\Command</item>
                <item name="invent_module" xsi:type="object">Wesleywmd\Invent\Model\Module\Command</item>
                <item name="invent_preference" xsi:type="object">Wesleywmd\Invent\Model\Preference\Command</item>
                <!--<item name="invent_admin_crud" xsi:type="object">Wesleywmd\Invent\Console\Command\InventAdminCrudCommand</item>-->
            </argument>
        </arguments>
    </type>

    <virtualType name="Wesleywmd\Invent\Model\Acl\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Acl\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Acl\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:acl</argument>
            <argument name="description" xsi:type="string">Create ACL</argument>
            <argument name="successMessage" xsi:type="string">ACL Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="aclName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">ACL Name</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="parent" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Parent ACL Name</item>
                </item>
                <item name="title" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">ACL Title</item>
                </item>
                <item name="sortOrder" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">ACL Sort Order</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Acl\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Acl\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Acl\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Acl\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Acl\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Block\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Block\PhpRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Block\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:block</argument>
            <argument name="description" xsi:type="string">Create Block</argument>
            <argument name="successMessage" xsi:type="string">Block Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="blockName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Block Name</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Block\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Block\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Block\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Block\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Block\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Command\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Command\PhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Command\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Command\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:command</argument>
            <argument name="description" xsi:type="string">Create Console Command</argument>
            <argument name="successMessage" xsi:type="string">Console Command Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="commandName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Command Name</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Command\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Command\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Command\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Command\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Command\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Config\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Config\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Config\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:config</argument>
            <argument name="description" xsi:type="string">Create Config</argument>
            <argument name="successMessage" xsi:type="string">Config Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="configName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Config Name</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="tabId" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Tab ID</item>
                </item>
                <item name="tabLabel" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Tab Label</item>
                </item>
                <item name="tabSortOrder" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Tab Sort Order</item>
                    <item name="default" xsi:type="number">10</item>
                </item>
                <item name="sectionLabel" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section Label</item>
                </item>
                <item name="sectionSortOrder" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section Sort Order</item>
                    <item name="default" xsi:type="number">10</item>
                </item>
                <item name="sectionShowInDefault" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section ShowInDefault</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="sectionShowInWebsite" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section ShowInWebsite</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="sectionShowInStore" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section ShowInStore</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="sectionClass" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section Class</item>
                    <item name="default" xsi:type="string">separator-top</item>
                </item>
                <item name="sectionTab" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section Tab</item>
                </item>
                <item name="sectionResource" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Section Resource</item>
                </item>
                <item name="groupLabel" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Group Label</item>
                </item>
                <item name="groupSortOrder" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Group Sort Order</item>
                    <item name="default" xsi:type="number">10</item>
                </item>
                <item name="groupShowInDefault" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Group ShowInDefault</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="groupShowInWebsite" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Group ShowInWebsite</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="groupShowInStore" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Group ShowInStore</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="fieldLabel" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Field Label</item>
                </item>
                <item name="fieldType" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Field type</item>
                    <item name="default" xsi:type="string">text</item>
                </item>
                <item name="fieldSortOrder" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Field Sort Order</item>
                    <item name="default" xsi:type="number">10</item>
                </item>
                <item name="fieldShowInDefault" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Field ShowInDefault</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="fieldShowInWebsite" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Field ShowInWebsite</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="fieldShowInStore" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Field ShowInStore</item>
                    <item name="default" xsi:type="number">1</item>
                </item>
                <item name="fieldComment" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">New Field Comment</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Model\Config\Interceptor">
        <arguments>
            <argument name="aclComponent" xsi:type="object">Wesleywmd\Invent\Model\Acl\Component</argument>
        </arguments>
    </type>
    <virtualType name="Wesleywmd\Invent\Model\Config\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Config\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Config\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Config\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Config\Validator</argument>
            <argument name="interceptor" xsi:type="object">Wesleywmd\Invent\Model\Config\Interceptor</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Controller\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Controller\PhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Controller\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Controller\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:controller</argument>
            <argument name="description" xsi:type="string">Create Controller</argument>
            <argument name="successMessage" xsi:type="string">Controller Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="controllerUrl" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Controller Url</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="router" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Router to subscribe the controller to</item>
                    <item name="default" xsi:type="string">standard</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Controller\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Controller\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Controller\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Controller\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Controller\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Cron\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Cron\PhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Cron\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Cron\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:cron</argument>
            <argument name="description" xsi:type="string">Create Cron</argument>
            <argument name="successMessage" xsi:type="string">Cron Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="cronName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Cron Name</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="method" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Method Name</item>
                    <item name="default" xsi:type="string">execute</item>
                </item>
                <item name="schedule" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Cron Schedule</item>
                    <item name="default" xsi:type="string">* * * * *</item>
                </item>
                <item name="group" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Cron Runtime Group</item>
                    <item name="default" xsi:type="string">default</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Cron\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Cron\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Cron\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Cron\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Cron\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Logger\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Logger\PhpRenderer</item>
                <item name="handlerPhpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Logger\HandlerPhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Logger\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Logger\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:logger</argument>
            <argument name="description" xsi:type="string">Create Logger</argument>
            <argument name="successMessage" xsi:type="string">Logger Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="loggerName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Logger Name</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="fileName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">File Name</item>
                    <item name="default" xsi:type="string">error</item>
                </item>
                <item name="type" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Logger Type</item>
                    <item name="default" xsi:type="string">INFO</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Logger\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Logger\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Logger\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Logger\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Logger\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Menu\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Menu\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Menu\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:menu</argument>
            <argument name="description" xsi:type="string">Create Admin Menu</argument>
            <argument name="successMessage" xsi:type="string">Admin Menu Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="menuName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Menu Name</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="parent" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Parent Menu Name</item>
                </item>
                <item name="title" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Menu Title</item>
                </item>
                <item name="sortOrder" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Sort Order</item>
                    <item name="default" xsi:type="number">10</item>
                </item>
                <item name="action" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Menu Action</item>
                </item>
                <item name="resource" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">ACL Resource</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Model\Menu\Interceptor">
        <arguments>
            <argument name="aclComponent" xsi:type="object">Wesleywmd\Invent\Model\Acl\Component</argument>
        </arguments>
    </type>
    <virtualType name="Wesleywmd\Invent\Model\Menu\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Menu\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Menu\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Menu\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Menu\Validator</argument>
            <argument name="interceptor" xsi:type="object">Wesleywmd\Invent\Model\Menu\Interceptor</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Model\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\PhpRenderer</item>
                <item name="collectionRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\CollectionPhpRenderer</item>
                <item name="interfaceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\InterfacePhpRenderer</item>
                <item name="repositoryInterfaceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\RepositoryInterfacePhpRenderer</item>
                <item name="repositoryRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\RepositoryPhpRenderer</item>
                <item name="resourceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\ResourcePhpRenderer</item>
                <item name="searchResultsInterfaceRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\SearchResultsInterfacePhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Model\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Model\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:model</argument>
            <argument name="description" xsi:type="string">Create Model</argument>
            <argument name="successMessage" xsi:type="string">Model Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="modelName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Model Name</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="column" xsi:type="array">
                    <item name="mode" xsi:type="const">Wesleywmd\Invent\Model\Component\BaseCommandDefinition::REQUIRED_ARRAY</item>
                    <item name="description" xsi:type="string">Columns on database table</item>
                </item>
                <item name="tableName" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">Database Name</item>
                </item>
                <item name="no-entity-id" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_NONE</item>
                    <item name="description" xsi:type="string">Removes standard entity_id column</item>
                </item>
                <item name="no-created-at" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_NONE</item>
                    <item name="description" xsi:type="string">Removes standard created_at column</item>
                </item>
                <item name="no-updated-at" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_NONE</item>
                    <item name="description" xsi:type="string">Removes standard updated_at column</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Model\Model\Interceptor">
        <arguments>
            <argument name="preferenceComponent" xsi:type="object">Wesleywmd\Invent\Model\Preference\Component</argument>
        </arguments>
    </type>
    <virtualType name="Wesleywmd\Invent\Model\Model\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Model\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Model\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Model\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Model\Validator</argument>
            <argument name="interceptor" xsi:type="object">Wesleywmd\Invent\Model\Model\Interceptor</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Module\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="phpRenderer" xsi:type="object">Wesleywmd\Invent\Model\Module\PhpRenderer</item>
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Module\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Module\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:module</argument>
            <argument name="description" xsi:type="string">Create Module</argument>
            <argument name="successMessage" xsi:type="string">Module Created Successfully!</argument>
            <argument name="options" xsi:type="array">
                <item name="block" xsi:type="array">
                    <item name="mode" xsi:type="const">Wesleywmd\Invent\Model\Component\BaseCommandDefinition::REQUIRED_ARRAY</item>
                    <item name="description" xsi:type="string">Blocks to add</item>
                </item>
                <item name="command" xsi:type="array">
                    <item name="mode" xsi:type="const">Wesleywmd\Invent\Model\Component\BaseCommandDefinition::REQUIRED_ARRAY</item>
                    <item name="description" xsi:type="string">Commands to add</item>
                </item>
                <item name="controller" xsi:type="array">
                    <item name="mode" xsi:type="const">Wesleywmd\Invent\Model\Component\BaseCommandDefinition::REQUIRED_ARRAY</item>
                    <item name="description" xsi:type="string">Controllers to add</item>
                </item>
                <item name="cron" xsi:type="array">
                    <item name="mode" xsi:type="const">Wesleywmd\Invent\Model\Component\BaseCommandDefinition::REQUIRED_ARRAY</item>
                    <item name="description" xsi:type="string">Crons to add</item>
                </item>
                <item name="model" xsi:type="array">
                    <item name="mode" xsi:type="const">Wesleywmd\Invent\Model\Component\BaseCommandDefinition::REQUIRED_ARRAY</item>
                    <item name="description" xsi:type="string">Models to add</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Wesleywmd\Invent\Model\Module\Interceptor">
        <arguments>
            <argument name="blockComponent" xsi:type="object">Wesleywmd\Invent\Model\Block\Component</argument>
            <argument name="commandComponent" xsi:type="object">Wesleywmd\Invent\Model\Command\Component</argument>
            <argument name="controllerComponent" xsi:type="object">Wesleywmd\Invent\Model\Controller\Component</argument>
            <argument name="cronComponent" xsi:type="object">Wesleywmd\Invent\Model\Cron\Component</argument>
            <argument name="modelComponent" xsi:type="object">Wesleywmd\Invent\Model\Model\Component</argument>
        </arguments>
    </type>
    <virtualType name="Wesleywmd\Invent\Model\Module\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Module\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Module\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Module\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Module\Validator</argument>
            <argument name="interceptor" xsi:type="object">Wesleywmd\Invent\Model\Module\Interceptor</argument>
        </arguments>
    </virtualType>

    <virtualType name="Wesleywmd\Invent\Model\Preference\Component" type="Wesleywmd\Invent\Model\Component\BaseComponent">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="xmlRenderer" xsi:type="object">Wesleywmd\Invent\Model\Preference\XmlRenderer</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Preference\CommandDefinition" type="Wesleywmd\Invent\Model\Component\BaseCommandDefinition">
        <arguments>
            <argument name="name" xsi:type="string">invent:preference</argument>
            <argument name="description" xsi:type="string">Create Preference</argument>
            <argument name="successMessage" xsi:type="string">Preference Created Successfully!</argument>
            <argument name="arguments" xsi:type="array">
                <item name="for" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Object the preference is for</item>
                </item>
                <item name="type" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputArgument::REQUIRED</item>
                    <item name="description" xsi:type="string">Object to use for the preference</item>
                </item>
            </argument>
            <argument name="options" xsi:type="array">
                <item name="area" xsi:type="array">
                    <item name="mode" xsi:type="const">Symfony\Component\Console\Input\InputOption::VALUE_REQUIRED</item>
                    <item name="description" xsi:type="string">DI load area</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Wesleywmd\Invent\Model\Preference\Command" type="Wesleywmd\Invent\Model\Component\BaseCommand">
        <arguments>
            <argument name="commandDefinition" xsi:type="object">Wesleywmd\Invent\Model\Preference\CommandDefinition</argument>
            <argument name="component" xsi:type="object">Wesleywmd\Invent\Model\Preference\Component</argument>
            <argument name="dataFactory" xsi:type="object">Wesleywmd\Invent\Model\Preference\DataFactory</argument>
            <argument name="validator" xsi:type="object">Wesleywmd\Invent\Model\Preference\Validator</argument>
        </arguments>
    </virtualType>
</config>
